---
---

@import "reset";
@import "typography";
@import "layout";
@import "nav";
@import "footer";
@import "utility";
@import "markdown";
@import "tile";
@import "animations";

$background: rgb(27, 27, 27);

html, body, nav, footer {
  background-color: $background;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  height: 15vw;
  left: 0;
  right: 0;
  color: rgb(51, 51, 51);
  font-size: 8vw;
  font-family: 'Poppins', sans-serif;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;

  @media sceen and (max-width: $screen-xs-max) {
    font-size: 9.5vw;
  }
}

.image.is-rounded img {
  border-radius: 20px;
}
