---
---

@import "dark-theme";
@import "reset";
@import "typography";
@import "layout";
@import "nav";
@import "footer";
@import "utility";
@import "markdown";
@import "tile";
@import "animations";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  height: 15vw;
  left: 0;
  right: 0;
  font-size: 8vw;
  font-family: 'Poppins', sans-serif;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  word-break: break-word;

  @media (max-width: $screen-xs-max) {
    font-size: 15vw;
    height: auto;
  }
}

.image.is-rounded img {
  border-radius: 20px;
}

#disqus_thread {
  padding-top: 2rem;
}

.four-oh-four {
  font-size: 5rem;
  padding: 1rem;

  &.is-secondary {
    font-size: 1.5rem;
    padding: 0;
  }

  small {
    font-size: 4.5rem;
  }
}
