---
---

@import "typography";
@import "nav";
@import "utility";
@import "markdown";
@import "tile";
@import "animations";

$background: rgb(27, 27, 27);

html, body, .nav, .footer {
  background-color: $background;
}

.container {
  overflow: hidden;
  padding: 0rem 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  height: 15vw;
  left: 0;
  right: 0;
  color: rgb(51, 51, 51);
  font-size: 8vw;
  font-family: 'Poppins', sans-serif;

  @media screen and (max-width: 450px) {
    font-size: 9.5vw;
  }
}

.footer a {
  margin: 1.5rem;
}

.image.is-rounded img {
  border-radius: 20px;
}
