$animation-duration: 0.3s;

.hover-grow {
  transform: perspective(1px) translateZ(0);
  transition-duration: $animation-duration;
  transition-property: transform;

  @for $i from 1 through 20 {
    &.grow-#{$i * 5}:hover {
      transform: scale(1 + ($i * 0.05));
    }
  }
}

.hover-spin {
  transition-duration: $animation-duration;
  transition-property: transform;

  &:hover {
    transform: rotate(360deg);
  }
}
