@import url('https://fonts.googleapis.com/css?family=Poppins');

$link-color: lighten($text-color, 20%);
$link-active-color: lighten($link-color, 10%);

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: $text-color;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1.0em
}

p {
  margin-top: .5em;
  margin-bottom: .5em;
}

.title {
  font-size: 1.50rem;

  + .subtitle {
    color: darken($text-color, 20%);
  }
}

.subtitle {
  font-size: 1.25rem;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-active-color;
  }
}

.icon {
  &.is-large {
    font-size: 1.5em;
  }
}
