@import url('https://fonts.googleapis.com/css?family=Poppins');

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1.0em
}

p {
  margin-top: .5em;
  margin-bottom: .5em;
}

.title {
  font-size: 1.50rem;
}

.subtitle {
  font-size: 1.25rem;
}

.icon {
  &.is-large {
    font-size: 1.5em;
  }
}
