<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/vendor/bulma.css">
			<script src="https://use.fontawesome.com/275c5b4a3d.js"></script>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container is-fluid">
				<nav class="nav">
				  <div class="nav-left">
				    <a class="nav-item">
							Coding with Shaun
				    </a>
				  </div>

				  <div class="nav-center">
				    <a href="https://github.com/scnewma/scnewma.github.io" target="_blank" class="nav-item">
				      <span class="icon">
				        <i class="fa fa-github"></i>
				      </span>
				    </a>
						<a href="atom.xml" class="nav-item">
							<span class="icon">
								<i class="fa fa-rss"></i>
							</span>
						</a>
				  </div>

					<div class="nav-right">
						<a href="/" class="nav-item">
							Home
						</a>
						<a href="/blog" class="nav-item">
							Blog
						</a>
					</div>
				</nav>
			</div>
			<section class="hero is-dark">
		  <div class="hero-body">
		    <div class="container">
		      <h1 class="title">
						{{ page.title }}
		      </h1>
		      <h2 class="subtitle">
		        {{ page.subtitle }}
		      </h2>
		    </div>
		  </div>
		</section>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer class="footer">
			  <div class="container">
			    <div class="content has-text-centered">
			      <p>
			        <strong>Coding with Shaun</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
			        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
			        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
			      </p>
			      <p>
			        <a class="icon" href="https://github.com/jgthms/bulma">
			          <i class="fa fa-github"></i>
			        </a>
			      </p>
			    </div>
			  </div>
			</footer>
		</body>
	</html>
