<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <script src="https://use.fontawesome.com/275c5b4a3d.js"></script>
    <link rel="stylesheet" href="/css/minimal.css">
  </head>
  <body>
    <div class="header">
      <div>Coding with Shaun</div>
    </div>

    {% unless page.excludeNav %}
    <nav class="nav">
      <div class="nav-center">
        {% for link in site.navigation %}
            <a href="{{ link.url }}" class="nav-item {% if page.url == link.url or link.subresources contains page.layout %}is-active{% endif %}">
              {{ link.text }}
            </a>
        {% endfor %}
      </div>
    </nav>
    {% endunless %}

    <div id="main" class="container">
      {{ content }}
    </div>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <a href="https://github.com/scnewma/scnewma.github.io" class="icon">
              <i class="fa fa-github"></i>
            </a>
            <a href="/atom.xml" class="icon">
              <i class="fa fa-rss"></i>
            </a>
          </p>
          <!-- <p class="nav-item">
            <a href="/atom.xml" class="icon">
              <i class="fa fa-rss"></i>
            </a>
          </p> -->
        </div>
      </div>
    </footer>
  </body>
</html>
